.TextField{
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    align-items: center;
    width: 100%;
    padding: 10px; 
    height: 400px;
}

.bsonbtns {
    margin-top: 20px;
    display: flex;
    
}