# ignore ALL .log files
*.log
.env

# ignore ALL files in ANY directory named temp
venv/
dino/__pycache__
dinoapp/__pycache__
dinoapp/migrations/__pycache__
reactapi/__pycache__
reactapi/migrations/__pycache__
generator/__pycache__
generator/migrations/__pycache__
supervisord.pid
dinoapp/node_modules
node_modules
