dino\__pycache__
dinoapp\__pycache__
dinoapp\migrations\__pycache__
dino\__pycache__\__init__.cpython-312.pyc
dino\__pycache__\settings.cpython-312.pyc
dino\__pycache__\urls.cpython-312.pyc
dino\__pycache__\wsgi.cpython-312.pyc