# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
dino/__pycache__
dinoapp/__pycache__
dinoDB/__pycache__
reactapi/__pycache__
dinoapp/migrations/__pycache__
dinoDB/migrations/__pycache__
dinoDB/migrations/__pycache__/
reactapi/migrations/__pycache__/
reactapi/__pycache__
reactapi/migrations/__pycache__
dinoDB/migrations/__pycache__/__init__.cpython-311.pyc
generator/migrations/__pycache__
generator/__pycache__