/* Custom CSS to match the design */
body {
    background-color: #f8f9fa; /* Light background */
}

.card {
    background-color: #f8f9fa;
    border: none;
    border-radius: 10px;
    margin: auto; /* Center the card horizontally */
    padding: 40px; /* Add padding inside the card */
}

.two{
    display: flex;
    align-items: center;
    gap: 252px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 40px; /* Add gap between elements */
}

.card-title {
    font-size: 2rem;
    font-weight: bold;

}

.form-group {
    margin-bottom: 2rem;
    border-color: rgb(255, 255, 255);

}

.form-control {
    border-radius: 5px;
}

.btn {
    color: white;
    background-color: #395C6B;
    border: none;
    border-radius: 5px;
    width: 100%; /* Ensure button width matches the form control width */
    margin-bottom: 1.5rem;
    padding: 8px 16px;

}



.btn-outline-danger {
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 8px 16px;

}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container {
    margin-top: 10rem; /* Increase top margin for the container */
}

@media (min-width: 768px) {
    .mainContainer {
        display: flex;
        align-items: center; /* Center items vertically */
        justify-content: center; /* Center items horizontally */
        height: 100vh; /* Full viewport height */
    }
}
