
.dinonavbar{ 
    background-color: #32464F;
}

.logo {
    max-height: 60px;
    max-width: fit-content;
}

.dinonavbar-menu{

    color: #C4C4C4;
    font-size: 18px;

}


.dinonavbar-menu a {
    text-decoration: none;
    color: #C4C4C4;
    padding-left: 15px;
    transition: color 0.3s ease;
}

.dinonavbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 15px;
}

.dinonavbar button {
    background: transparent;
    font-size: 16px;
    color: #ffffff;
    background-color: #8CB8CA;

    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s; 
}

.dinonavbar-menu a:hover {
  color: #ffffff;
}

.dinonavbar button:hover {
  background-color: #77A7B5; 
}
